#employeeTable, td, th{
    border: 1px solid black;
}

#employeeTable{
    border-collapse: collapse;
    width: 100%;
}

td{
    text-align: left;
    vertical-align: center;
    height: 30px;
    font-size: 20px;
}

th{
    text-align: left;
    vertical-align: center;
    height: 30px;
    background-color: #808080;
    font-size: 20px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover{
    background-color: #f5f5f5;
}

#monthlyExpenditures{
    text-align: right;
    font-size: 30px;
    margin-top: 30px;
}

#header{
    background-color: #383838;
    color: white;
    text-align: center;
    line-height: 100px;
    height: 100px;
    width: 100%;
    margin-bottom: 50px;
}

input{
    height: 20px;
    width: 18.5%;
    margin-bottom: 20px;
    border: 1px solid black;
    font-size: 16px;
}

#submitButton{
    float: right;
    margin-right: 30px;
    width: 100px;
    height: 20px;
    background-color: #e7e7e7;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
}

.deleteButton{
    margin: auto;
    width: 40%;
}